*{
    box-sizing: border-box;
}
:root{
    text-shadow: 1px 2px 3px blue;
}
body{
    margin: 0px;
    padding: 0px;
    background: radial-gradient(#333,#222);;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.2rem;
}
.container{
    padding: 18px;
    box-shadow: 0px 0px 50px black,
                2px 5px 10px inset white;
    width: 300px;
    height: 400px;
    border-radius: 12px;
    background: linear-gradient(black, #221);
    .input_field{
        display: flex;
        flex-flow: column wrap;
        color: white;
        label{
            padding: 5px 3px;
        }
        input{
            border: none;
            outline: none;
            padding: 8px 5px;
            display: inline-block;
            font-size: 1.2rem;
            width: 100%;
            background: #222;
            color: white;
        }
        button{
            border: none;
            outline: none;
            margin-top: 10px;
            padding: 10px;
            font-size: 1.2rem;
            cursor: pointer;
            background: #225;
            color: white;

        }
    }
    .result{
        text-align: center;
        padding: 50px;
        font-size: 5rem;
        color: white;
    }
}
.project{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: #444;
    color: #fff;
    text-shadow: 1px 1px 2px red;
    padding: 8px;
}